*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'DM Sans', sans-serif;
}
.icons-text-flex{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.icon-text{

    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    
}
header{
    padding: 1rem 0.7rem;
    background-color :#f9c10b;;
    
}

.icon-text{
    color: rgb(252, 249, 249);
    font-size: 1.15rem;
    font-weight: 400;
}
.icon-text i{
    margin-right: 8px;
    font-size: 1.4rem;
    color: #212529;
}
header .icons i{
    font-size: 1.2rem;
    padding: 0.3rem;
    margin: 0.1rem;
    border-radius: 50%;
    background-color: rgb(247, 245, 245);
}
.icon-text-flex-2{
    padding: 0rem 0.8rem;
    font-size: 1.15rem;
    text-emphasis: wrap;
    font-weight: 400;
    line-height: 1.25;
}




@media screen and (max-width:990px){
 
header{
    position: relative;
}



}



@media screen and (max-width:300px){
  .icons i{
      margin: 2rem;
  }
   
}

@media screen and (min-width:550px){
   
    header{
        padding: 0.8rem;
    }
.container{
    max-width: 510px;
    margin: auto;
   
}
}

@media screen and (min-width:770px){
 
  
    .container{
        max-width: 710px;
        margin: auto;
    }
    .icons-text-flex{
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
    }
    .icon-text-flex-2{
 width: 170px;
        word-wrap: break-word;
    }
  
    }
    @media screen and (max-width:990px){





}

.section-4-grid{
    display: flex;
    flex-direction: column;
}
    @media screen and (min-width:990px){
      
  
.container{
    max-width: 950px;
}

.icon-text-flex-2{
    width: 170px;
           word-wrap: break-word;
       }
       .icon-text{
        gap: 2rem;
    }
        
}
    .icons i{
        cursor: pointer;
        transition: .2s;
    }
    .icons i:hover{
        color: #ffc107;
    }
    @media screen and (min-width:1200px){
        .container{
            max-width: 1150px;
        } 
        .icon-text-flex-2{
           
               word-wrap:keep-all;
           }
           .icons-text-flex-1{
             
           }
           .icon-text-flex-2{
            width: 200px;
                   word-wrap: break-word;
               }
               .icon-text{
                gap: 5rem;
            }
                
                
    }
    @media screen and (min-width:1400px){
        .container{
            max-width: 1300px;
        } 
        .icon-text-flex-2{
        
                   word-wrap: break-word;
               }
               .icon-text{
                gap: 5rem;
            }
                
    }
    @media screen and (min-width:1600px){
   
        .icon-text-flex-2{
          
            
                   word-wrap: break-word;
               }
            

    }


.icon-text-flex-2 i{
    cursor: pointer;
}
.icon-text-flex-2 span{
    cursor: pointer;
}
img{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.section-1{
    margin-top: 50px;
    background-image: url('images/slide-1.jpg'), linear-gradient(rgba(88, 88, 88, 0.5), rgba(29, 29, 29, 0.5));
    width: 100%;
  height: 100%;
  background-blend-mode: overlay;


  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;

    

}

.section-1-container-header h1{
    color: ghostwhite;
    font-size: 3.5rem;

}
.section-1-container-header h1 span{
    color: #ffc107;
}
.section-1-container-header{
    text-align: left;
    padding: .5rem;

    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: .2rem;
    margin-bottom: 1.5rem;
  
}
.section-1-container-header p{
    color: white;
}
.section-1-container-header p span{
    color: #ffc107;
    font-weight: 800;
}
.btn-icon{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.btn-icon .btn-class{
    background-color: brown;
    color:white;
    font-weight: 600;
    padding: 1rem;
    width: 150px;
    border-radius: 50px;
    cursor: pointer;
    transition: .25s;
}
.btn-icon .btn-class:hover{
    background-color: #ffc107;
}
.btn-icon i{

    padding: .5rem;
    border: 3px solid white;
    border-radius: 50px;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
    }
    .btn-icon-flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5rem;
        gap: 3rem;
    }
    .btn-icon{
        width: 100%;
        justify-content: start;
    }
    .next-prev{
      display: flex;
      width: 100%;
        justify-content: end;
       
      
    }
    .next-prev img{
      
        
        height: 100px;
        cursor: pointer;
        fill: white;
        filter: brightness(0) invert(1);
     
       width: 70px;
       height: 70px;

    }
  .btn-icon-next-flex{
      display: flex;
      gap: 0rem !important;
  }
  .section-2-main{
      padding: 1rem;
  }
  .section-2-grid{
      display: grid;
      gap: 1rem;
      background-color: #f5f5f5;
      border-radius: 15px;
  }
  .section-2-grid-content p{
    font-size: .91rem;
  }
.section-2-grid-content p span{
    color: #ffc107;
   
}
.section-2-grid-content h1{
    font-size: 2.5rem;
line-height: 1.6;
}
.section-2-grid-content a{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
    margin-top: .5rem;
}
.section-2-grid-content h4{
    font-weight: 400;
    line-height: 1.5;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color:#717275;
    font-size: 1.09rem;
    
}
.section-2-grid-card-content{
    padding: 2rem 1.5rem;
    background-color: rgb(252, 252, 252);
    box-shadow: 2px 2px 2px 2px rgb(230, 225, 225);
    border-radius: 15px;
}
.section-2-grid-img img{
    border-radius: 15px;
}
.section-2-grid-2-card{
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
   
}



.section-2-main-grid{
    display: grid;
    gap: 1rem;
}
.section-3-content p{
    text-align: center;
    color:#353434;
margin-top: 1rem;
}

.section-3-content h1{
    margin-top: .5rem;
    text-align: center;
}

.section-3-main .section-3-content p span{
color: #ffc107;
font-size: 0.9rem;
}
.section-3-grid-main{
    display: grid;
    gap: 1rem;
}
.section-3-grid-1-card p{
    font-size: .96rem;
    line-height: 1.6;
    font-weight: 400;

    color:#8a8b8b;
    margin-top: 1rem;
}
.section-3-grid-1-card h1{
    font-size: 1.85rem;
    line-height: 2;
}
.section-3-content{
    margin-bottom: 2rem;
}
.section-3-grid-1{
    display: grid;
    gap: 1rem;

}

.section-3-grid-1-card{
    border-left: 7px solid #3d3c3c; 
    padding: 2rem 1.6rem;
    padding-right: 2rem;
    max-width:100%;
margin: auto;
transition: .2s;

}

.section-3-grid-1-card:hover {
    box-shadow: 1px 2px 7px rgb(194, 192, 192);
}
.section-3-grid-1-card:hover{
    border-left: 7px solid #dc3545 !important; 
}
.section-3-grid-1-card:hover h1{
   color: #ffb007;
}

.section-3-main{
    padding: 1rem;
}
.section-3-grid-2-content-class h1{
    font-size: 1.2rem;
    margin:0rem 0rem;
    margin-top: 1rem;
}
.section-3-grid-2-content-class p{
    line-height: 1.5;
    margin: 0.5rem 0rem;
    color: #686868;
    
    font-size: 1.2rem;
}
.section-3-grid-2{
    padding-bottom: 3rem;
}
.section-4{
    margin-top: 1rem;
    padding-bottom: 2rem;
}
.section-4-content {
    text-align: center;
}
.section-4-content h1{
    font-size: 2rem;
    margin-top: .5rem;
    margin-bottom: 3rem;
}
.strategy-flex{
    display: flex;
    flex-direction: column;
}
.section-4-main .section-4-content p{
    color: #3c3f41;
    font-size: .9rem;
}
.section-4-main .section-4-content p span{
    color: #ffc107;
    font-weight: 600;
    font-size: .9rem;
}
.section-4-main{
    padding: 1rem;
}
.section-4-grid-card .section-4-grid-card-img img{
 
     border-radius: 15px;
     position: relative;
}
.section-4-grid-card-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:90%;
    padding: 1rem;
}
.section-4-grid-card-content p{
    color: #fdbf04;
}
.section-4-grid-card-content button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border:transparent;
    background-color: #6d1f33;
    color: white;
    cursor: pointer;
}
.section-4-grid-card{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 15px;
    
}
.section-4-grid-card-img{
    overflow: hidden;
    border-radius: 15px;
}
.section-4-grid-card-img img{
    transition: .2s ease-in-out;
}
.section-4-grid-card:hover img{
    cursor: pointer;
    transform: scale(1.1);
}

.section-4-grid-card-content{
    position: absolute;
    transform: translateY(-90px);
    transition: .2s ease-in-out;
}
.text-content{
    transition: .2s ease-in-out;
    
}
.text-content h1{
    color: white;
    margin-top: .4rem;

}
.section-4-grid-card:hover .text-content{
    transform: translateY(-15px);
}
.section-4-grid-card button i{
    font-size: 2rem;
    font-weight: 300;
}
.section-4-grid-card button{

    transition: .2s ease ease-in-out;
}
.section-4-grid-card:hover button{
    background-color: #fdbf04;
}

.section-4-flex-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.section-4-grid{
    display: grid;
    gap: 1rem;
  
}
.section-5-grid{
    display: grid;
    gap: 2rem;
    
}
.section-5-card{
    background-color: #fdbf04;
}
.section-5-card-content{
    text-align: left;
    margin-bottom: 2rem;
    
}
.section-5-card-content p span{
    line-height: 1.5;
    color: white;
}
.section-5-card-content h1{
    line-height: 1.5;
    font-size: 2rem;
}
.input-grid-2 button{
    background-color: #6d1f33;
    padding: 1rem;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    font-weight: 600;
}
.input-grid-2 button:hover{
    background-color: white;
}
.input-grids{
    display: grid;
    gap: 1rem;
}
.section-5 .container{
    padding: 0.5rem;
}
.input-grid-1{
    
   display: flex;
   flex-direction: row;
    gap: 1rem;
}
.input-grid-1 input{
    background-color: transparent;
    outline: none;
    border: none;
    padding: 12px;
    border-bottom: 3px solid white;
}
.input-grid-1 input:hover{
    background-color: white;
}
.input-grid-2 input:hover{
    background-color: white;
}
.input-grid-2{
  display: flex;
  flex-direction: column;
  gap: 1rem;


}

.input-grid-2 input{
    background-color: transparent;
    outline: none;
    border: none;
    padding: 12px;
    padding-bottom: 150px;
    border-bottom: 4px solid white;
}
.section-5-bg-color{
    position: relative;
  
    padding: .9rem;
    text-align: center;
    z-index: 2;
}

.section-5-bg-color::after {
    content: "";
    position: absolute;
    top: -120px; /* Adjust this value to change the position of the wave */
    left: 0;
    width: 100%;
    height: 180px; /* Controls the height of the wave */
    background-color: #fdbf04;
    clip-path: polygon(100% 100%, 0% 100% , 0.00% 30.17%, 1.05% 28.72%, 2.11% 27.23%, 3.16% 25.73%, 4.21% 24.20%, 5.26% 22.67%, 6.32% 21.15%, 7.37% 19.63%, 8.42% 18.13%, 9.47% 16.65%, 10.53% 15.21%, 11.58% 13.81%, 12.63% 12.46%, 13.68% 11.17%, 14.74% 9.93%, 15.79% 8.77%, 16.84% 7.68%, 17.89% 6.67%, 18.95% 5.75%, 20.00% 4.92%, 21.05% 4.19%, 22.11% 3.55%, 23.16% 3.02%, 24.21% 2.59%, 25.26% 2.27%, 26.32% 2.06%, 27.37% 1.96%, 28.42% 1.98%, 29.47% 2.10%, 30.53% 2.33%, 31.58% 2.68%, 32.63% 3.13%, 33.68% 3.68%, 34.74% 4.34%, 35.79% 5.10%, 36.84% 5.95%, 37.89% 6.89%, 38.95% 7.92%, 40.00% 9.02%, 41.05% 10.20%, 42.11% 11.45%, 43.16% 12.76%, 44.21% 14.12%, 45.26% 15.53%, 46.32% 16.98%, 47.37% 18.46%, 48.42% 19.96%, 49.47% 21.49%, 50.53% 23.01%, 51.58% 24.54%, 52.63% 26.06%, 53.68% 27.57%, 54.74% 29.05%, 55.79% 30.49%, 56.84% 31.90%, 57.89% 33.26%, 58.95% 34.57%, 60.00% 35.81%, 61.05% 36.99%, 62.11% 38.09%, 63.16% 39.12%, 64.21% 40.05%, 65.26% 40.90%, 66.32% 41.65%, 67.37% 42.31%, 68.42% 42.86%, 69.47% 43.30%, 70.53% 43.64%, 71.58% 43.87%, 72.63% 43.99%, 73.68% 44.00%, 74.74% 43.90%, 75.79% 43.68%, 76.84% 43.36%, 77.89% 42.93%, 78.95% 42.39%, 80.00% 41.75%, 81.05% 41.01%, 82.11% 40.18%, 83.16% 39.25%, 84.21% 38.24%, 85.26% 37.15%, 86.32% 35.98%, 87.37% 34.75%, 88.42% 33.45%, 89.47% 32.10%, 90.53% 30.69%, 91.58% 29.25%, 92.63% 27.78%, 93.68% 26.28%, 94.74% 24.76%, 95.79% 23.23%, 96.84% 21.70%, 97.89% 20.18%, 98.95% 18.67%, 100.00% 17.19%);
    z-index: 1; /* Makes sure the wavy background is behind the container */
}
.section-5-map iframe{
   width: 98%;
    border-radius: 25px;
    height: 350px
}
.section-5-bg-color{
    margin-top: 10rem;
}
.section-5-card{
    padding-top: 6rem;
    
}
.section-5-map{
    z-index: 99999;
  
    margin: auto;
    width: 98%;
    border-radius: 25px;
    padding:1.6rem;
    background-color: rgb(250, 248, 248);
    box-shadow:1px 2px 8px rgb(218, 217, 217);
    
}
.section-5-map-content{
   text-align: left;
 
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.section-5-map-content h1{
    font-size: 1.6rem;
    line-height: 1.6;
}
.icon-flex-class{
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon-flex-class i{
    font-size: 2.09rem;
    color: #ffc107;
}
.section-5-map-content h4{
    font-size: 1.8rem;
    color: #575757;
    line-height: 2;
}
.section-5-map-content a{
    font-size: 1.2rem;
    color: #575757;
    font-weight: 600;
    line-height: 2;
    
}
.section-5-bg-color{
    background-color: #fdbf04;
}

@media screen and (max-width:990px){
    .section-4-grid{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width:500px){
    .section-3-grid-1{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:770px){
    .input-grid-1{
        flex-direction:column ;
    }
    
}

@media screen and (min-width:991px){
    .section-5-card{
        transform: translateY(-15%);
        z-index: 8888;
    }
    .section-5-map{
        z-index: 99999;
        transform: translateY(-25%);
        margin: auto;
        width: 98%;
        border-radius: 25px;
        padding:1.6rem;
        background-color: rgb(250, 248, 248);
        box-shadow:1px 2px 8px rgb(218, 217, 217);
        
    }
  .section-5-grid{
      grid-template-columns: auto auto;
      gap: 3rem;
  }
    .input-grids{
        display: grid;
        grid-template-columns: auto ;
        gap: 1rem;
    }

     .input-grid-1{
    
       
    }
    .input-grid-2{
        flex-direction: column;
    }
    .section-4-grid{
        display: grid;
    }
    .section-4-grid{
        grid-template-columns: auto auto auto;
    }
  .section-4-grid .section-4-grid-card:first-child{
    grid-column: 1 / span 1;
    grid-row: 1;
  }
  .section-4-grid .section-4-grid-card:nth-child(2){
    grid-column: 2;
    grid-row: 1 / span 1;
  }
  .section-4-grid .section-4-grid-card:nth-child(3){
    grid-column: 3;
  }
  .section-4-grid .section-4-grid-card:nth-child(4){
    grid-column:1 /span 2;
    grid-row: 2;}
  }
  .section-4-grid .section-4-grid-card:last-child{
      height: 300px;
  }
  .section-4-grid .section-4-grid-card:last-child .section-4-grid-card-img{
      height: 300px;
  }
  .section-4-grid .section-4-grid-card:last-child{
    grid-column: 3 / span 1;
    grid-row: 2;
  }

    .section-2-grid-img img{
        height: 100%;
    }
    .section-2-grid{
        grid-template-columns: auto;
    }
    .section-2-main-grid{
max-width: 100%;
        grid-template-columns: auto ;
   

    }
  
    
  
  
    .section-2-grid-2-card{
        margin-top: 0.5rem;
    }
    .section-2-grid{
        gap: 1.5rem;
        grid-template-columns: auto ;
    }
.section-3-grid-main{
    grid-template-columns: auto auto;
    gap: 3rem;
}
.section-3-grid-1-card{
    width: 100%;
}
.section-3-grid-1-card h1{
    font-size: 2rem;
    line-height: 1.5;
}
.section-3-main{
    padding: 1rem 2.5rem;
}
.section-3-grid-2-content-class h1{
    margin-top: 2rem;
    font-size: 1.5rem;
}
.strategy-flex{
    display: flex;
    gap: .92rem;
}
.strategy-flex p{
    font-size: 1.095rem;
    font-weight: 510;
    color: #8a8989;
}
.section-3-grid-main{
    display: grid;
    grid-template-columns: auto ;
  
}
.grid-2-flex-card-1{
    flex-basis: 50%;
    border-radius: 25px;

    padding: 2.5rem 1.8rem;
    background-color: #dc3545;
}
.grid-2-flex-card-1 h1{
    color: white;
    line-height: 1.6;
    font-size: 1rem;
    margin-right: .6rem;
}
.grid-2-flex-card-2 h1{
    color: white;
    line-height: 1.5;
    font-size: 1rem;
}
.grid-2-flex-card-2 p{
    margin-top: 1.5rem;
    margin-right: .3rem;
    line-height: 1.5;
    color: white;
    margin-bottom: 1rem;

}
.grid-2-flex-card-1 button{
    margin-top: 1.5rem;
    background-color: #ebcc1e;
    border: none;
    padding: .9rem 1.7rem;
    color: white;
    border-radius: 25px;
    margin-bottom: 1rem;
}
.grid-2-flex-card-2{
    flex-basis: 50%;
    border-radius: 25px;
    padding: 2.5rem 1.5rem;

    background-color: #ffc107;
}
@media screen and (min-width:500px){
    .grid-2-flex-card-1{
        flex-basis: 50%;
        border-radius: 25px;
    
        padding: 2.5rem 2.5rem;
        background-color: #dc3545;
    }
    .grid-2-flex-card-1 h1{
        color: white;
        line-height: 1.2;
        font-size: 1rem;
    }
    .grid-2-flex-card-2 h1{
        color: white;
        line-height: 1.2;
        font-size: 1rem;
    }
    .grid-2-flex-card-2 p{
        margin-top: 1.5rem;
        margin-right: 2rem;
        line-height: 1.5;
        color: white;
        margin-bottom: 1rem;
    
    }
    .grid-2-flex-card-1 button{
        margin-top: 1.5rem;
        background-color: #ebcc1e;
        border: none;
        padding: .9rem 1.7rem;
        color: white;
        border-radius: 25px;
        margin-bottom: 1rem;
    }
    .grid-2-flex-card-2{
        flex-basis: 50%;
        border-radius: 25px;
        padding: 2.5rem 2.2rem;
    
        background-color: #fdbf04;
    }
}
@media screen and (min-width:990px){
    .strategy-flex{
        display: flex;
        flex-direction: row;
    }
    
            .section-3-grid-main{
                display: grid;
                grid-template-columns: auto auto ;
              
            }
            .section-2-grid{
              display: flex;
            }
            .section-2-grid-img{
                
                width: 100%;
            }
            .section-2-grid-img img{
                width: 100%;
            }
            .section-2-main-grid{
                width: 100%;
            }
            .section-2-grid-content{
                padding: 1rem;
            }
            .grid-2-flex-card-1{
                flex-basis: 50%;
                border-radius: 25px;

                padding: 2.5rem 2.5rem;
                background-color: #dc3545;
            }
            .grid-2-flex-card-1 h1{
                color: white;
                line-height: 1.2;
                font-size: 1.4rem;
            }
            .grid-2-flex-card-2 h1{
                color: white;
                line-height: 1.2;
                font-size: 1.4rem;
            }
            .grid-2-flex-card-2 p{
                margin-top: 1.5rem;
                margin-right: 2rem;
                line-height: 1.5;
                color: white;
                margin-bottom: 1rem;

            }
            .grid-2-flex-card-1 button{
                margin-top: 1.5rem;
                background-color: #ebcc1e;
                border: none;
                padding: 1rem 2rem;
                color: white;
                border-radius: 25px;
                margin-bottom: 1rem;
            }
            .grid-2-flex-card-2{
                flex-basis: 50%;
                border-radius: 25px;
                padding: 2.5rem 2.2rem;

                background-color: #ffc107
            }
            
            

}
@media screen and (min-width:1200px){
  
    .section-3-main{
        padding: 1rem 1rem;
    }
    .section-3-grid-2-img-class{
        width: 100%;
    }
    .section-3-grid-2-img-class img{
        width: 100%;
    }

   
            .section-4-grid .section-4-grid-card{
                height:350px;
            }
            .section-4-grid .section-4-grid-card .section-4-grid-card-img{
                overflow: hidden;
                height: 350px;
            }
            .section-4-grid .section-4-grid-card:last-child {
                overflow: hidden;
                height: 350px;
            }
            .section-4-grid .section-4-grid-card:last-child .section-4-grid-card-img {
                overflow: hidden;
                height: 350px;
            }
            .section-4-grid .section-4-grid-card:last-child .section-4-grid-card-img img{
                height: 350px;
            }
     
}
@media screen and (min-width:1400px){
  
   
         

}
@media screen and (min-width:1600px){
.section-4-grid .section-4-grid-card{
    height:400px;
}
.section-4-grid .section-4-grid-card .section-4-grid-card-img{
    height: 400px;
}
.section-4-grid .section-4-grid-card:last-child {
    height: 400px;
}
.section-4-grid .section-4-grid-card:last-child .section-4-grid-card-img {
    height: 400px;
}
.section-4-grid .section-4-grid-card:last-child .section-4-grid-card-img img{
    height: 400px;
}}

@media screen and (max-width:500px){
  
    .section-3-grid-1{
        width: 100%;
        padding: .1rem;
        justify-content: center;
        align-items: center;
    }
  
    .section-3-grid-main{
        padding: 0.5rem;
    }
    .section-3-main{
        padding: 0.1rem;
    }
    .section-3{
        padding: 0.1rem;
    }
    .input-grid-1{
        display: flex;
        flex-direction: column;
    }


}
.section-3-grid-1-card{
    cursor: pointer;
}
.section-1-container-header{
    text-align: left;
    padding: .5rem; 
    max-width: 100%;
       
    
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: .2rem;
    margin-bottom: 1.5rem;
  
}
@media screen and (min-width:990px){
    .section-1-container-header{
        text-align: left;
        padding: .5rem;
        max-width: 410px;
        height: 410px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: .2rem;
        margin-bottom: 1.5rem;
      
    }
    .section-1-container-header h1{
        font-size: 3.2rem;
    }
}
@media screen and (min-width:1200px){
    .section-1-container-header{
        margin-bottom: 1rem;
        max-width: 550px;
    }
    .section-1-container-header h1{
        font-size: 3.6rem;
        line-height: 1.5;
    }
.section-1{
    height: 85vh;
}
    .container-1-flex{
display: flex;
height: 75vh;
flex-direction: column; 
justify-content: end;  

}

}
@media screen and (min-width:770px){
.section-5 .input-grid-1{
grid-template-columns: auto auto;
justify-content: center;

}

.input-grid-1 input{
    width: 100%;
}

}

@media screen and (min-width:770px) and (max-width:989px){
    .section-1-container-header{
        margin-bottom: 1rem;
        width: 800px;
    } 
    .section-1-container-header h1{
        font-size: 2.6rem;
    }
}
@media screen and (min-width:1400px){
    .section-1-container-header h1{
        font-size: 3.2rem;

    }
    .section-1-container-header h1{
        font-size: 3.325rem;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 0.7rem;

    }
    .container{

    }
    .section-1-container-header{
        margin-bottom: 1rem;

        padding: 0rem;

    }
    .container-1-flex{
        margin-bottom: 0rem;
    }
}
.section-1{
    margin-top: 10px;
}


@media screen and (min-width:990px){
   
    .section-1{
        margin-top: 10px;
    }

}
@media screen and (max-width:480px){

    .section-3-grid-1-card h1{
        font-size: 1.7rem;
        line-height: 1.2;
    }
    .section-3-grid-1-card{
        width: 100%;
        border-left: 7px solid #3d3c3c; 
        padding: 1rem 1rem;
        padding-right: .2rem;
        max-width:100%;
    margin: auto;
    transition: .2s;
    
    }
    .section-3-grid-1-card p{
        margin-right: 1.1rem;
    }
}
@media screen and (max-width:480px){
.section-1{
    height: 85vh;
}
.section-1-container-header{
    max-width: 60vh
}
.section-1-container-header h1{
    color: ghostwhite;
    font-size: 2.2rem;
 

}
.section-1-container-header h1 span{
    color: #ffc107;
}
.section-1-container-header{
    text-align: left;
    padding: .5rem;

    height:55vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: .2rem;
    margin-bottom: 0rem;
  
}
.section-1-container-header p{
    color: white;
}
.section-1-container-header p span{
    color: #ffc107;
    font-weight: 800;
}
.btn-icon-flex{
    padding: .5rem;
}
}
@media screen and (min-width:480px){
    .section-1-container-header h1{
        color: ghostwhite;
        font-size: 2.8rem;
     margin-bottom: 0rem;
    
     
    
    }
    .section-1{
        height: 82vh;
    }
    
.section-1-container-header{
    text-align: left;
    padding: .5rem;

    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: .2rem;
    margin-bottom: 0rem;
  
}
    .btn-icon-flex{
     
        padding:0rem .5rem;
    }
    .section-1-container-header{
        gap: 0rem;
    }
}
@media screen and (min-width:990px){
    .section-1-container-header h1{
        color: ghostwhite;
        font-size: 3.5rem;
     margin-bottom: 0rem;
     width: 400px;
    
     
    
    }
    .section-3-grid-1-card p{
        font-size: .96rem;
        line-height: 1.6;
        font-weight: 400;
    
        color:#8a8b8b;
        margin-top: 1rem;
    }
    .section-3-grid-1-card h1{
        font-size: 2.2rem;
        line-height: 1.5;
    }
    .section-3-grid-1-card{
        cursor: pointer;
    }
    .section-3-grid-1-card{
        width: 82%;
        border-left: 7px solid #3d3c3c; 
        padding: 2rem 2rem;
        padding-right: 3rem;
        max-width:100%;
    margin: auto;
    transition: .2s;
    
    }
    .section-3-grid-main{
        padding: 0rem;
        gap: .1rem;
    }
    .section-3-main{
        padding: 0.1rem;
    }

}
.section-1{
    margin-top: 0px;
}

@media screen and (min-width:1200px){
    .section-1-container-header h1{
        color: ghostwhite;
        font-size: 3.5rem;
     margin-bottom: 0rem;
     width: 500px;
    
     
    
    }
    .section-1-container-header{
        width: 800px;

    }
    .section-1-container-header h1{
        margin-top: .5rem;
    }
    .section-1{
        height: 89vh;
    }
}
@media screen and (min-width:1400px){
    .section-1-container-header{
        width: 900px !important;
      
    }
    .section-1-container-header h1{
        color: ghostwhite;
        font-size: 3.5rem;
     margin-bottom: 0rem;
     width: 600px;
    
     
    
    }
}
.section-1{
    margin-bottom: 3rem;
}



   
header{
    width: 100%;
}
@media screen and (max-width:770px){
header{
    width: 100%;
    position: relative;
}
nav{   width: 100%;
   
 
}

.nav-links{
    position: absolute;
}
.nav-class .nav-header{
    position: relative;
    width: 90%;
    display: flex;
    justify-content: space-between;
    z-index: 9;
    margin: auto;
    background-color: rgb(255, 255, 255);
}
.nav-links{
    position: absolute;
    width: 90%;
    margin: auto;
    background-color: transparent;
    bottom:0;
    transform: translateY(0px);
    transition: transform .3s ease-in-out;

z-index: 1;
}
.nav-logo a {
    color: rgb(177, 177, 80);
    text-decoration: none;
    font-size: 2rem;
    }
.nav-logo a span{
color: rgb(163, 87, 87);
}
.menu__btn i{
    font-size: 2rem;
    cursor: pointer;
}
.nav-links.open{
    transform: translateY(250px);
    background-color: rgb(255, 255, 255);
    width: 100%;
}
.nav-links ul li{
 position: static;
 width: 90%;
 margin: auto;
 
 padding: 1rem;
 transform: translateY(0px);

}
.nav-links ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
ul li a span{
    color: rgb(177, 177, 80);
}
ul li a{
    text-decoration: none;
    color: rgb(189, 52, 52);
}
}

@media screen and (max-width:990px){
    header{
        width: 100%;
        position: relative;
    }
    nav{   width: 100%;
       
     
    }
    
    .nav-links{
        position: absolute;
    }
    .nav-class .nav-header{
        position: relative;
        width: 90%;
        display: flex;
        justify-content: space-between;
        z-index: 9;
        margin: auto;
        background-color: rgb(255, 255, 255);
    }
    .nav-links{
        position: absolute;
        width: 90%;
        margin: auto;
        background-color: transparent;
        bottom:0;
        transform: translateY(0px);
        transition: transform .3s ease-in-out;
    
    z-index: 1;
    }
    .nav-logo a {
        color: rgb(177, 177, 80);
        text-decoration: none;
        font-size: 2rem;
        }
    .nav-logo a span{
    color: rgb(163, 87, 87);
    }
    .menu__btn i{
        font-size: 2rem;
        cursor: pointer;
    }
    .nav-links.open{
        transform: translateY(250px);
        background-color: rgb(255, 255, 255);
        width: 100%;
    }
    .nav-links ul li{
     position: static;
     width: 90%;
     margin: auto;
     
     padding: 1rem;
     transform: translateY(0px);
    
    }
    .nav-links ul li{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    ul li a span{
        color: rgb(177, 177, 80);
    }
    ul li a{
        text-decoration: none;
        color: rgb(189, 52, 52);
    }
    }
  
    body{
        scroll-behavior: smooth;
    }
    .nav-absolute{
        position: static;
        background-color:white;
        width: 100%;
      height: 50px;
     transform: translateY(0px);
     z-index: 1;
     transition: none;
        
    }
    .header-class-main{
        height: 0px;
        width: 100%;
        background-color: lightcoral;
        z-index: 9;
    }
    .header-class{
        width: 100%;
        position: relative;
        background-color:white;
    
    }
    
    .nav-header{
        width: 90%;
        display: flex;
        justify-content: space-between;
        position: relative;
        margin: auto;
        z-index: 2;
        background-color: white;
    }
    .nav-absolute{
        position: absolute;
        background-color:white;
        width: 100%;
        height: 200px;
     transform: translateY(-200px);
     z-index: -8;
     transition: .8s ease;
        
    }
    .nav-absolute.open{
        transform: translateY(0px);
        z-index: 1;
    }
    
    .nav-menu{
    width: 90%;
    margin: auto;
    }
    #menu-btn i{
        font-size: 2rem;
        color: rgb(8, 8, 8);
        cursor: pointer;
    }
    .nav-links{
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: auto;
        width: 90%;
        list-style: none;
        padding: 1rem;
    }
    .nav-links li a{
        text-decoration: none;
        color: white;
        color: black;
    }
  
        @media screen and (min-width:770px){
            .nav-header{
                align-items: center;
              max-width: 700px;
              z-index: 99999999;
               
            }
        .nav-absolute{
            z-index: -888888881;
        }
        }
             
 
    .nav-logo a{
        color: rgb(207, 139, 13);
        text-decoration: none;
        font-size: 2rem;
    }
    .nav-logo a span{
        color: rgb(192, 18, 18);
    }
   
    .section-1{
        z-index: 99999999999;
    }
  .nav-header{
      padding: 1rem 0rem;
  }
  @media screen and (min-width:990px){
    .nav-absolute{
        position: static;
        background-color:white;
        width: 100%;
      height: 50px;
     transform: translateY(0px);
     z-index: 1;
     transition: 0s ease;
        
    }
    .nav-menu{
        position: static;
    }
    .nav-links{
        position: static;
        display: flex;
        flex-direction: row;
        gap: 4rem;
    }
    #menu-btn{
        display: none;
    }
    nav{
        display: flex;
     align-items: center;
     padding: .5rem 1.7rem;
    }
    .nav-header{
position: static;
     }
.nav-links{
    margin-right: 3.5rem;
}

  .nav-links li a{
      text-transform: uppercase;
      font-size: .8rem;
      color: #eb1e1e;
  }
  .nav-links li a span{
      margin-right: 3px;
      color: #ebcc1e;
  }
}
  
section{
    position: relative;
    background-color: rgb(209, 202, 202);
}
nav{

    isolation: isolate;
    width: 100%;
    z-index: 9;
}
.nav__header{
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    background-color: rgb(219, 161, 53);
}
.nav__logo a{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    font-family: var(--header-font);
    letter-spacing:-2px ;
}
.nav__menu__btn {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;

}
.section-header{
    position: relative;
}
.nav__links {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    display: flex;
  
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: rgb(211, 138, 30);
    transition: transform 0.5s;
    z-index: -1;}

.nav__links.open{
    transform: translateY(100%);
}
.nav__links a {
    font-weight: 500;
    color: white;
}
.nav__links a:hover{
    color: black;
}
.nav__btn {
    display: none;
}

.section-header{
    position: relative;
 width: 100%;
 background-color: rgb(211, 138, 30);

}
nav{width: 100%;
    background-color: rgb(211, 138, 30);
}
.nav__header{
    background-color: rgb(211, 138, 30);
}
.nav__links{
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0rem 1rem;
}

.section-header{
  position: sticky;
  top: 0;
}
.section-upper{
    background-color: coral;
    height: 100px;
    width: 100%;
    z-index: 99999;
    position: relative;

}
.nav__links{
    position: absolute;
    z-index: -1;
}

@media screen and (min-width:990px){
    section{
        padding: 0rem 0rem;
        background-color: rgb(255, 255, 255);
    }
    nav{
        display: flex;
        flex-direction: row;
        align-items: center;
    justify-content: space-between;
        width: 100%;
        background-color: rgb(255, 255, 255);
      
    }
nav h4{
    font-size: 1.8rem;
}
header{
    z-index: -1;
}
nav{
 
}
    .nav__links{
        flex:0;
        padding: 0rem;
        position: static;
        gap: 3.5rem;
        margin-right: 1rem;
        flex-direction: row;
        background-color: rgb(255, 255, 255);
        z-index: 999;

    }
   
    .nav__links a{
        text-transform: uppercase;
    }
    .nav__header{
        flex: 1;
        z-index: -1;
    }
    .nav__menu__btn{
        display: none;
    }
}
header{
    position: relative;
    z-index: 9;
}
.nav__links{
    position: absolute;
    z-index: -1;
    background-color: rgb(255, 255, 255);
}
.nav__links  li{
    list-style: none;
}
.nav__links li a {
    color: #212529;
    text-decoration: none;
    font-size: .8rem;
    color: #717275;
    font-weight: 600;
}
.nav__links li a span{
    color: #f9c10b;
    margin-right: 4px;
    font-size: .75rem;
    font-weight: 600;
}
.nav__links li:first-child a{
    color: #dc3545;
}
.nav__links li:hover a{
    color: #dc3545;
}
.nav__header{
    background-color: rgb(255, 255, 255);
}
@media screen and (min-width:990px){
    .nav__links{
        position: static;
    }
}
.nav__logo h4{
    color: #f9c10b;
    cursor: pointer;
    font-size: 1.9rem;
}
.nav__logo h4 span{
  color: #dc3545;
}




@media screen and (min-width:500px){
    .section-header{
        background-color: white;
    }
    section{
        padding: 0rem .5rem;
        background-color: white;
    }
    .nav__logo h4{
        font-size: 2rem;
    }
    .nav__links{
        padding: 0rem 1.5rem;
    }
    nav{
        margin: auto;
    }
    }
@media screen and (min-width:550px){
    .section-header{
        background-color: white;
        
    }
    section{
        margin: auto;
        padding: 0rem 0.5rem;
        background-color: white;
    }
    .nav__logo h4{
        font-size: 2rem;
    }
    .nav__links{
        margin: auto;
        padding: 0rem 3rem;
    }
    nav{
      background-color: white;
    }
    .nav__header{
        padding-left: .5rem;
        padding-right: 0rem;
        max-width: 90%;
        margin: auto;
    }
    }
    @media screen and (min-width:600px){
        section{
            padding: 0rem 2rem;
        }
        .nav__links{
            margin: auto;
            padding: 0rem 4.5rem;
        }
    }
    @media screen and (min-width:650px){
        section{
            padding: 0rem 2rem;
            padding-left: 3rem;
        }
        .nav__links{
            margin: auto;
            padding: 0rem 5.5rem;
        }
    }
    @media screen and (min-width:680px){
        section{
            padding: 0rem 2rem;
            padding-left: 3.3rem;
        }
        .nav__links{
            margin: auto;
            padding: 0rem 5.8rem;
        }
    }
    @media screen and (min-width:710px){
        section{
            padding: 0rem 2rem;
            padding-left: 5rem;
        }
        .nav__links{
            margin: auto;
            padding: 0rem 7.5rem;
        }
    }
    
    @media screen and (min-width:770px){
        section{
            padding: 0rem 2rem;
            padding-left: .5rem;
        }
        .nav__links{
            margin: auto;
            padding: 0rem 3.8rem;
        }
    }
    @media screen and (min-width:810px){
        section{
            padding: 0rem 2rem;
            padding-left: 2rem;
        }
        .nav__links{
            margin: auto;
            padding: 0rem 5rem;
        }
    }
    @media screen and (min-width:850px){
        section{
            padding: 0rem 2rem;
            padding-left: 3rem;
        }
        .nav__links{
            margin: auto;
            padding: 0rem 5.5rem;
        }
    }
    @media screen and (min-width:900px){
        section{
            padding: 0rem 2rem;
            padding-left: 4rem;
        }
        .nav__links{
            margin: auto;
            padding: 0rem 7.5rem;
        }
    }
    @media screen and (min-width:950px){
        section{
            padding: 0rem 2rem;
            padding-left: 5.5rem;
        }
        .nav__links{
            margin: auto;
            padding: 0rem 8.5rem;
        }
    }
    @media screen and (min-width:990px){
        section{
            padding: 0rem 2rem;
            padding-left: 0rem;
        }
        .nav__links{
            margin: auto;
            padding: 0rem 0rem;
        }
    }
    @media screen and (min-width:1050px){
        .section-header{
            max-width: 1000px;
            margin: auto;
        }
    }
    @media screen and (min-width:1200px){
        .section-header{
            max-width: 1150px;
            margin: auto;
        }
    }
    @media screen and (min-width:1400px){
        .section-header{
            max-width: 1350px;
            margin: auto;
        }
    }
    @media screen and (min-width:1600px){
        .section-header{
            max-width: 1350px;
            margin: auto;
        }
    }
    @media screen and (min-width:1800px){
        .section-header{
            max-width: 1350px;
            margin: auto;
        }
    }
    
    
    
    
    
    
    nav{
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        background-color: white;
    }
    
.grid-2-flex-card-1 button{
    font-weight: 700;
}
.grid-2-flex-card-1 button:hover{
background-color: white;
color: black;
font-weight: 700;
cursor: pointer;
}
@media screen and (min-width:990px){
    .section-4-grid-card-content h1{
        font-size: 2.5rem;
     position: relative;
  

    }
    .btn-content{
        position: absolute;
        right: 0;
    }
    .section-4-content h1{
        font-size: 2.35rem;
    }
   
}
.section-header{
    z-index:555555555;
}
.section-4{
    margin-top: 6rem;
}
.section-3-bg {
    margin-top: 4rem;
    background-color: #f5f5f5;
    padding: 4rem 0rem;
}
.section-4-grid-card-content button{
    background-color: #dc3545;
}
header{
    z-index: 50000000000000000000000000000000000;
}
@media screen and (max-width:400px){
.btn-icon-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    gap: 1rem;
    flex-direction: column;

}

.grid-2-flex-card-1 button{
    font-weight: 400;
    font-size: .6rem;
    padding: 0.75rem;
    text-align: center;
}
.grid-2-flex-card-1 button:hover{
background-color: white;
color: black;
font-weight: 400;
cursor: pointer;
}
    
}
@media screen and (max-width:990px){
.nav__links  li {
    margin-bottom: 1rem;
    background-color: white;
}}
.btn-icon .btn-class{
    background-color: brown;
    color:white;
    font-weight: 600;
    padding: 1rem;
    width: 150px;
    border-radius: 50px;
    cursor: pointer;
    transition: .25s;
    text-align: center;
}
