*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  


}
h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}
h3{
    font-weight: 400;
}
p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
  .element {
    position: relative;
    background-color: #ffffff; /* Smooth background color */
    color: white;
    padding: 0px;
    text-align: center;
    overflow: hidden; /* Ensures the wave stays within bounds */
  }
  
  .element::before {
    color:rgb(255, 255, 255);
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top:0;
    height: 1200px; /* Height of the wave */
    background-color:#F9C10B;
    /* Wave color */
    clip-path: path('M0,40 C150,10 350,70 500,40 C650,10 850,50 1000,30 C1150,10 1300,60 1400,30 L1400,100 L0,100 Z');
  }
  

  
  
header{
    width:100%;
   
    padding:10px 15px;
    background-color: rgb(247, 203, 11);
    display: flex;
 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap:10px;

}
.contact{
    width:100%;

    display: flex;

    gap:40px;







}
@media (width<1000) {
    .section-4-row h1{
        font-size:24px;
    }
}
@media(width>850px){
    .section-4-row .overflow-class .section-4-col-3:hover h1{
       
        margin-left: 65px;
    }
    .section-4-row .overflow-class .section-4-col-3:hover p{
       
        margin-left: 65px;
    }
    .section-4-row h1{
        font-size:20px;
    }
}
@media(width>750px){
    .section-4-row-1 .overflow-class .section-4-col-3:hover h1{
       
        margin-left: 65px;
    }
    .section-4-row-1 .overflow-class .section-4-col-3:hover p{
       
        margin-left: 65px;
    }
}


#navlist{
    display: block;
}


@media(width<768px){
    #navlist{
        display: none;
    }

}
.clock i:hover{
    transition: .5s;
    color:black;
}

.icons i:hover{
    transition:.5s;
    background-color: black;
    color:white;
}

.contact p{
    color:rgb(250, 247, 247);
    font-size:14px;
    font-weight: 600;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap:15px;

}
.icons i{
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
    padding:5px;
    background-color: white;
    border-radius: 50%;
    font-size:14px;
    cursor: pointer;
}
.clock{
    display: flex;
   flex-direction: row;
   gap:5px;
}
.clock i{
 color: rgb(255, 255, 255);
 cursor: pointer;

}
.phone{
    display: flex;
    flex-direction: row;
    gap:5px;
  }
.phone i{
    cursor: pointer;
 color:white;


}
.phone i:hover{
    transition: .5s;
    color:black;
}
nav{
    width:100%;
    padding:10px 15px;
    display: flex;
 
    align-items: center;
    justify-content:space-between;
    align-items: center;
    justify-content: center;
    height:100px;
    
   

}
.nav-header{
    width:100%;
    padding:10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-header .logo h1{
color:rgb(255, 196, 0);
font-size:4vh;
}
.logo h1 span{
    color:rgb(236, 113, 13);
 
}
.menu-bar i{
font-size:6vh;
color:black;
cursor: pointer;

}
.nav-list ol li h3:hover{
    color:rgb(255, 145, 0);
}
.nav-list ol li h3{
    cursor: pointer;
    font-weight: 400;
}

@media(width<768px){
    #menuIcon{
      
        transition: .5s ease;
    }
    #menuicon{
        
        transition: .5s ease;
    }
    .menu-bar{
        transform: .5s;
    }
   #navlist .nav-list ol li h3 {
        transition: .5s ease;
    }
        .nav-list{
    
           
            transition: .5s ease;
        }
        #navlist{
      
            transition: .5s ease;
        }
        nav{
            transition: 5s;
        }

.nav-list{
    
   margin-right: 10px;
      width:150px;
    margin-top:325px;
    opacity: 9;
    background-color:#ffffff;
    padding-left: 12%;
  
 
    
  
  }
  .nav-list ol{
      margin-left:10px;
      width:100%;
      gap:5px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      
  
  }
  .nav-list ol li{
      color: #F9C10B;
      width:100%;
      cursor:pointer;
      padding-top:10px;
      padding-bottom: 10px;
  }
  .nav-list ol li a{
    font-size: 9px;
      color:#000000;
      width:100%;
      text-decoration: none;
  }
  .nav-list ol li h3:hover{
      color:rgb(255, 145, 0);
  }
  .nav-list ol li h3{
      width:100%;
      font-weight: 200;
      font-size:18px;
      color:#000000;
  
  }
    .section-1{
        padding-top: 2%;
        padding-left: 5%;
        background-image: url('images/img-1.jpg');
        background-size: cover;
        opacity:3;
    
    }
    .section-1 img{
        opacity:0.1;
    }
    .section-1 p{
        color:white;
        font-size: 14px;
        font-weight: 900;
    }
    .section-1 p span{
        color:#f7bd00;
    }
    .section-1 .content h1{
        color:white;
    
        margin: none;
        font-size: 6vh;
    }
    .section-1 .content h1 span{
        color:#f7bd00;
    }
    .section-1 .button-icon button{
        background-color: #DC3545;
        padding: 10px;
        border-radius: 20px;
        cursor: pointer;
        border: transparent;
        transition: .5s;
        color:white;
    }
    .section-1 .button-icon button:hover{
        background-color:#F9C10B;
    }
    .content{
        width:100%;
    }
    .icon-btn{
        display: flex;
    }
    .icon-play{
        padding:8px;
        cursor: pointer;
        border: 2px solid white;
        border-radius: 50%;
        color:white;
        transition: .5s  ease-in-out;
  

    }
    .next-prev{
        margin-top:12px;
        width:40%;
        color:white;
        text-align: right;
        cursor: pointer;
    }
    .next-prev i{
        font-size:36px;
    }
    .next-prev:hover{
        color:#DC3545;
    }
    .icon-play{

    }

    .icon-play:hover{
        border: 2px solid #F9C10B;
        color:#F9C10B;
    }
    .button-icon{
        margin-top: 10px;
        display: flex;
        gap:5px;
   
        align-items: center;
    }
}
@media(width>768px){
    #navlist{
        display: block;
    }
    .section-1 img{
        opacity:0.1;
    }
    header{
        padding:25px 40px;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
    .contacts{
        flex-direction: row;
    }
    .icons{
        flex-direction: row;

    }
    .phone{
        gap:10px;
    }

    .clock{
        gap:10px;

    }
    nav{
        width:95%;
        padding:10px 40px;
        display: flex;
        flex-direction: row;
       
       justify-content: space-between;
        align-items: center;
       
    }
    .menu-bar{display: none;}
#menuIcon{
    display: none !important;
    transition: .5s ease;
}
#menuicon{
    display: none;
    transition: .5s ease;
}

    .nav-list{

        display: block !important;
        transition: .5s ease;
    }
    #navlist{
        display: block !important;
        transition: .5s ease;
    }
    .nav-list ol{
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        gap:70px;
    }
.nav-list ol li{
    color:rgb(255, 208, 0);
}
.nav-list ol li h3{
    color:black;
    font-size:3vh;
    transition: .2s ease;
}
.nav-header .logo h1{
    cursor:pointer;
    font-size:5vh;
}
.content-icon{
    width:100%;
   
    height:520px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.section-1{
    background-image: url('images/img-1.jpg');
    background-size: cover;
    opacity:3;

}
.content{
    width:50%;
    padding:20px 50px;
}
.content p{
color:white;
line-height: 2;
font-size:20px;
}
.content p span{
    color:rgb(255, 208, 0);
}
.content h1{
    color:white;
    font-size:9vh;
}
.content h1 span{
    color:rgb(255, 208, 0);
}
.content button{
 padding:10px 10px;
    background-color: rgb(236, 113, 13);
    border-radius: 50px;
   color:white;
   font-size:15px;
   font-weight: 900;
   border:transparent;
   cursor: pointer;
   line-height: 2;
 

}
.content button:hover{
    background-color: rgb(255, 208, 0);
    transform: .2s ease;
}
.next-prev{
    margin:40px;
    font-weight: 200;
    font-size: 70px;
    color:white;
    cursor: pointer;

}
.next-prev i{
    font-weight: 510;
}
.icon-play i{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px 10px;
    color: white;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    font-size: 24px;
    cursor: pointer;
transition: .5s ease;
}
.button-icon{
    margin-top:30px;
    display: flex;
   align-items: center;
   gap:20px;
  
}
.icon-play i:hover{
border:3px solid rgb(255, 208, 0);

}

}
.section-2{
    width:98%;
    margin:auto;
}
.section-2-row{
    display: flex;


    justify-content: center;
  
    margin-top:20px;
    gap:20px;
}
.section-2-col{
    
width:50%;
background-color: #FFFFFF;
margin:5px 10px;

}
.section-2-col img{
    margin: auto;
    border-radius: 20px;
    width:100%;
    height:100%;
    margin-left: 20px;
    background-size: cover;
}
.section-2-col .card{
    width:95%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding-bottom:60px;

 
    
}
.card{
    background-color: #FFFFFF;
    border-radius: 10px;
   padding-top:20px;
   padding-left:40px;
   padding-right: 60px;
   
}

.card h1{
    font-size:39px;
    line-height: 1.5;
    margin-bottom:10px;
}
.card h4{
margin-bottom: 10px;
    font-size:26px;
    line-height: 1.5;
}
.card p{
    font-size:18px;
    line-height: 1.2;
    font-weight: 500;
    
    
}
.card-container{
    margin-top:20px;
 

}
.card p span{
    color:rgb(255, 208, 0);
    
}
.section-2-cols{
    display: flex;
    flex-direction: column;
    gap:5px;
   

}

.row-col-flex{
    display: flex;
    gap:20px;
    justify-content: center;
    width:100%;
  

    
}
.section-2-col-rows{
    flex-wrap: wrap;

}
.section-2-col-rows p{
 
}
.section-2-col-rows h1{
    font-size:26px;
    color:white;
}
.section-2-col-rows p{
    color:white;
}
.section-2-col-rows:first-child{
    border-radius: 25px;
    padding-top:40px;
    padding-left:40px;
    padding-right:75px;
    padding-bottom:50px;
   
    width:50%;
    
    margin-top:20px;
    font-size:18px;
    font-weight: 200;
    line-height: 1.2;
    background-color:#DC3545;
}
.section-2-col-rows p{
 margin-top:25px;
 margin-right:40px;
 font-size:19px;
}
.section-2-col-rows:last-child{
    padding-top:40px;
    padding-left:30px;
    padding-right:25px;
    background-color:#FFC107;
    border-radius: 25px;
    width:50%;
    border-radius: 25px;
    padding-top:40px;
   
    padding-bottom:50px;
   
    margin-top:20px;
    font-size:18px;
    font-weight: 200;
    line-height: 1.5;
}
.section-2-col-rows button{
    margin-top:20px;
    padding:15px 20px;
    background-color:rgb(247, 203, 11);
   color:white;
   border: transparent;
    border-radius: 50px;
    font-size:16px;
    transition: .5s ease;
    cursor: pointer;
}
.section-2-col-rows button:hover{
   background-color:rgb(255, 254, 253); 
   color:black;
   
}
.section-3{
    background-color:#F5F5F5;
    padding:50px 60px;
}
.section-3 p{
    color:#4C2545;
    text-align: center;
}
.section-3 p span{
    color:#FFC68F;
}
.section-3 h1{
    text-align: center;
    color:#000000;
    font-size:38px;
}
.section-3-row-1{
    display: flex;
    justify-content: space-between;
 
  
    margin-top:50px;

}
.section-3-row-1 .section-3-col:last-child{
    width: 45%;
}
.section-3-col img{
    width:100%;

}
.section-3-col{
 
    width:55%;


}
.section-3-col p{
    text-align: left;
    line-height: 1.5;
   margin-top:12px;
   margin-bottom: 15px;
   margin-right: 60px;
   font-weight: 500;


}
.section-3-col h1{
    margin-top:1px;
    text-align: left;
    color:#F9C10B;
    line-height: 1.3;
}
.section-3-col-row-col{

    padding-top:25px;
    width:90%;
    height:100%;
    padding-right:30px;
    padding-left: 30px;
    border-left: 7px solid #422023;
    cursor: pointer;
    transition: .2s;
    padding-bottom: 5px;
   
}
.section-3-col-row-col:hover{
    background-color: #FFFFFF;
    border-left: 7px solid #DC3545;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}
.section-3-col-row{
    display: flex;
    flex-direction: column;
    gap:30px;


}

.section-3-col h2{
    margin-top:25px;
}
.section-3-col p{
    font-size:19px;
    font-weight: 400;
    color:#717279;

}
.section-3-col ul {
    margin-left:30px;
    text-align: left;
}
.section-3-col ul li{
    font-size:19px;
    line-height: 1.6;
    color:#717279;
}
@media(width<850px){
    .card p{
        font-size:14px;
        line-height: 1.2;
        font-weight: 500;
        
        
    }
    .section-3-row-1{
        flex-direction: column;
        gap:20px;
    }
    .section-3-col{
        width:100%;
    }
   .section-3-row-1 .section-3-col:last-child{
        width: 100%;
    }
}
@media(width<650px){
    .card p{
        font-size:16px;
        line-height: 1.2;
        font-weight: 500;
        
        
    }
   .section-3 h1{
        font-size:30px;
    }
    .section-3-row-1 .section-3-col p{
        margin-bottom: 20px;
        margin-right: 0px;
        font-size: 16px;
    }
    .section-3-row-1 .section-3-col h1{
        font-size:26px;
    }
}
@media(width<500px){
    .card p{
        font-size:13px;
        line-height: 1.2;
        font-weight: 500;
        
        
    }
    .row-col-flex{
        flex-direction: column;
        align-items: center;

    }
    .section-2-col-rows:first-child{

        width: 80%;
        height:200px;
    }
    .section-2-col-rows:last-child{

        width: 80%;
        height:170px;
    }

}
.section-4 h1{
font-size:7vh;
}
.section-4{
    padding:50px;
    text-align: center;
}

.section-4-col-3{
    height:300px;
    width:270px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    transition: .5s ease-in-out;
    overflow: hidden;
    

}
.section-4-col-3 p{
  
    text-align: left;
    color:white;
    margin-bottom:6px;
    color:#F9C10B;
    transition: .5s;
    margin-left: 20px;
}
.section-4-col-3 h1{
    margin-left: 20px;
    margin-bottom: 20px;
  font-size: 32px;
    text-align: left;
    color:white;


    transition: .5s;
}
.section-4-row-1{
    display: flex;
    justify-content: space-between;
    gap:5px;

    overflow: hidden;
   
}
.section-4-col-3:hover  {
    transform: scale(1.2);
    border-radius: 25px;
}
.section-4-row-1 div{
    overflow: hidden;
    border-radius: 25px;
}
.overflow-class{
    width:270px;
    height: 300px;
    cursor: pointer;
}

.overflow-class:hover h1{
    transform: translateY(-20px);
    margin-left:40px;
}
.overflow-class:hover p{
    transform: translateY(-20px);
    margin-left: 40px;
}

.section-4-row-1 .over-1 .overflow-class{
    flex-basis:65%;
}
.overflow-class-2 .section-4-col-3:hover h1{
    transform: translateY(-20px);
    margin-left: 40px;
}
.overflow-class-2 .section-4-col-3:hover p{
    transform: translateY(-20px);
    margin-left: 40px;
}
@media(width<770px){

    .section-4-row{
        flex-direction: column;
    }
    .section-4-row .overflow-class:first-child{
        flex-basis: 100%;

    }
    .section-4-row .overflow-class:last-child{
        flex-basis:100%;
    }
}
.section-5{
    padding:20px 0px;
    background-color: #F9C10B;
}
.section-5 .form-class{

    display: flex;
    flex-wrap: wrap;
    gap:20px;


}
.section-5-col-1 button{
    width:600px;
}
.form-class input ::after{
    background-color: white;
    cursor: pointer;
}
.form-class input{
border-top: none;
border-bottom:3px solid white;
border-right: none;
border-left: none;
background: none;
padding-top:10px;
padding-bottom: 10px;
padding-left: 10px;
font-size:16px;
font-weight: 200;
width:90%;
}
.form-class input:hover{
    background-color: white;
}
.section-5 button{
    margin-top: 20px;
    background-color: red;
    color:white;
    Width:430px;
    padding:17px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    border: transparent;
    transition: .2s;
    font-weight: 600;
}
.section-5 button:hover{
    background-color: white;
    color:black;
}
.section-5 p span{
    color: white;
    font-size: 16px;
}
.section-5 p{
    font-size: 16px;
    margin-bottom: 20px;
}
.section-5 h1{
    font-size: 42px;
    margin-bottom: 40px;
}
.section-5-row{


   margin-top:50px;
   background-color:#F9C10B ;
   width: 50%;
  
  

}
   

iframe {
  width:90%;
 height:300px;
    border-radius: 15px;
    margin-bottom: 20px;
   
}
.flex-card{
    display: flex;
    gap:20px;
    cursor: pointer;
}
.flex-card p{
    font-size: 26px;
}
.flex-card i{
    font-size: 26px;
    color: #F9C10B;
}
.section-5 .card h1{
    font-size:22px;
}
.flex-card:hover p{
    color:#F9C10B;
}
.section-5-col-1{
  display: flex;
  flex-direction: column;
 padding: 20px 30px;
}
.section-5-col-2{
    width:450px;
padding-right: 10px;
border-radius: 45px;

}
.section-5-col-2 .card{
    border-radius: 25px;
}
.section-5-main-row{

    display: flex;
   
    padding-right: 30px;
   
   
}
@media(width<850px){
    .section-5-main-row{
        flex-direction: column;
        padding: 0px;
        align-items: flex-start;
        justify-content: left;
    }
    .section-5-row{
        width:100%;
    }
    .section-5-col-2{
        align-items: flex-start;
        justify-content: left;
       width:100%;
    }
}
@media (width<850px) {
    .overflow-class .section-4-col-3:hover p{
        margin-left:70px;
        margin-bottom: 5px;
    }
    .overflow-class .section-4-col-3:hover h1{
        margin-left: 70px;
        margin-bottom: 30px;
    }

    .section-4-row .section-4-col-3:first-child:hover h1{
        margin-left:52px;
    }
    .section-4-row .section-4-col-3:first-child:hover p{
        margin-left:52px;
    }
  
  
  
    .section-4 h1{
        font-size:42px;
    }
    .form-class input{
        width:40%;
       

    }
    .section-5-col-2{
        align-items: center;
        width: 90%;
    }
    .form-class input:last-child{
        width:85%;
    }
    
}
@media (width<600px){
    .form-class input{
        flex-direction: column;
        width:90%;
    }
    .form-class input:last-child{
        width:90%;
    }
}
@media(width<720px){
    .section-4-row .section-4-col-3:hover h1{
        margin-left:80px;
    }
    .section-4-row .section-4-col-3:hover p{
        margin-left:80px;
    }
  
  .section-4 h1{
    text-align: left!important;
    font-size:32px;

  }
  .section-4 p{
    text-align: left;
    font-size: 20px;
  }
    .section-4{
        padding: none;
        width:520px;
    }
    .section-4-row{
        width:520px;
    }
    .section-4-row-1{
        flex-direction: column;
        align-items: center;
        width: 520px;
      
    
    }
    .section-4-col-3{
        height: 500px;
        width: 520px;
    }
    .overflow-class .section-4-col-3:hover p{
        margin-left:50px;
        margin-bottom: 5px;
    }
    .overflow-class .section-4-col-3:hover h1{
        margin-left: 50px;
        margin-bottom: 30px;
    }
    .overflow-class{
        height: 500px;
        width: 520px;
    }
    .section-4-row-1 .section-3-col{
        width:520px;
        height: 500px;

    }
}
@media(width<600px){
    .section-4 h1{
        font-size: 28px;
        text-align: left;
    }
    .section-4 p{
        font-size: 16px;
    }
    .section-4{
        padding: none;
   width:450px;
      
    }
    .section-4-row-1{width:350px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .section-4-col-3{width:350px;
        height:300px;
     }
    .overflow-class{width:350px;
        height:300px;
     
        justify-content: center;
    align-items: center;}
    .section-4-row-1 .section-3-col{
        width:350px;
        height:300px;
        
    }
    .section-4-row{
        width:350px;

    }
    .overflow-class{
        height:300px;
     
        width:350px;
    }

}
.section-4-row{
    display: flex;
    justify-content: center;
    gap:20px;
    margin-top:20px;
}
.section-4-row .overflow-class:first-child{
   flex-basis: 70%;
}
.section-4-row .overflow-class:last-child{
    flex-basis: 30%;
}
.overflow-class{
    border-radius: 25px;
    overflow: hidden;
    width:100%;
}
.overflow-class .section-4-col-3{
    border-radius: 25px;
    overflow: hidden;
    width:100%;
}
.overflow-class .section-4-col-3 img{

    width:100%;
}
@media(width<500px){
    .section-4 h1{
        font-size: 26px;
    }
.section-4{
    padding: none;
    width:350px;

}
.section-4-row-1{
    align-items: center;
    width:300px;
    justify-content: center;
}
.section-4-col-3{
    width:300px;
}
.overflow-class{
    align-items: center;
    justify-content: center;
    width:300px;
}

}

@media (width<915px)
{
.section-4-row-1{
    gap:50px;
justify-content: center;
flex-wrap: wrap;
}
.section-4 h1{
  
    margin: none;
    line-height: 1.4;

    margin-bottom: 10px;
}
.overflow-class h1{
    font-size:24px;
}
.section-4 p span{
    color:#F9C10B;
}

.section-4-col-3:hover h1{
    margin-left: 30px;
}
.section-4-col-3:hover p{
    margin-left:30px;
}

    
.section-2-row{
    flex-direction: column;
    align-items: center;
    gap:20px;
    margin-bottom: 20px;
  
}
.section-2-col{
    width: 95%;
    display: flex;
    align-items: center;
  
}
.section-2-cols{
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-2-col img{
    width: 92.5%;
    padding-left: 0px;
}
        .section-5-main-row{
    justify-content: center;
    align-items: center;
}



.section-2-col .card{
    width:100%;
}

  }
  @media(width<720){

  
.section-5-main-row{
    flex-direction: column;
}

.overflow-class{
    width:500px;
}

  }
 
